@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&family=Quicksand:wght@300;400;500;600;700&family=Saira:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/*** NAVBAR ***/

body {
  background-color: aliceblue;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(72, 72, 72);
}

/* .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

.right {
  display: none;
}

.logo {
  text-align: center;
}

nav ul a {
  font-size: 28px;
  color: rgb(74, 172, 246);
  text-decoration: none;
}

.logo a {
  color: rgb(72, 72, 72);
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}

nav ul {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
  background-color: rgba(72, 72, 72, 0.709);
  backdrop-filter: blur(4px);
  padding: 2rem;
  text-align: center;
  transition: 0.2s linear;
}

nav li {
  margin: 10px 0;
  list-style: none;
}

.show {
  left: 0;
}

.hide {
  left: -100%;
}

.menubar {
  width: 10%;
  font-size: 25px;
  z-index: 99;
}

.menubar i {
  color: rgb(44, 148, 227);
}

.menubar .fa-x {
  color: whitesmoke;
}

/*** Rocket jsx ***/
.each {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2rem 0;
}

.each .image {
  width: 100%;
}

.each .image img {
  width: 100%;
}

.text h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.text p {
  margin-bottom: 5px;
}

.text button {
  padding: 5px;
  outline: none;
  background-color: rgb(74, 172, 246);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px 0;
}

.each .reserve {
  background-color: rgb(45, 212, 45);
  color: white;
  padding: 2px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/** profile.jsx **/
.profile h2 {
  text-align: center;
  margin: 10px 0;
}

.proof {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-bottom: 1px solid gray;
  padding: 2rem 0;
}

.proof .reserve {
  border: 1px solid gray;
  margin: 10px 0;
  border-radius: 10px;
}

.proof li {
  list-style: none;
  border-bottom: 1px solid gray;
  font-size: 20px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proof li p,
.proof li a,
.proof li button {
  width: 33%;
}

.proof li a {
  text-decoration: none;
}

.proof li a:hover {
  color: rgb(45, 212, 45);
  transition: .3s linear;
}

.proof li button {
  background-color: rgba(250, 235, 215, 0.334);
  border: .5px solid rgb(247, 49, 49);
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  transition: .3s linear;
}

.proof li button:hover {
  background-color: rgb(247, 49, 49);
  color: white;
}

.center {
  text-align: center;
  font-size: 30px;
}

@media (min-width: 768px) {
  body {
    padding: 1rem 3rem;
  }

  nav ul a {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 23px;
    color: rgb(44, 148, 227);
  }

  .logo a {
    font-size: 26px;
  }

  nav ul {
    position: unset;
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin-left: 20px;
  }

  .menubar {
    display: none;
  }

  /*** rocket jsx ****/

  .each {
    flex-direction: row;
    align-items: unset;
  }

  .each .image {
    width: 30%;
    margin-right: 20px;
    height: 170px;
  }

  .each .image img {
    width: 100%;
    height: 100%;
  }

  .text {
    width: 65%;
  }
}
